<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Form</title>
    <link rel="stylesheet" href="styles3.css">
</head>
<body>
    <div class="form-container">
        <form>
            <div class="input-group">
                <label for="first-name">Patient Name</label>
                <input type="text" id="first-name" placeholder="First">
                <input type="text" id="last-name" placeholder="Last">
            </div>
            <div class="input-group">
                <label for="Address">Address of the patient</label>
                <input type="email" id="Address" placeholder="Address">
            </div>
            <div class="input-group">
                <label for="landing-page-title">Contact number</label>
                <input type="text" id="landing-page-title" placeholder="phone number">
            </div>
            <div class="input-group">
                <label for="description">Description</label>
                <textarea id="description" placeholder="Description"></textarea>
                <div class="submit-group">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>
    </html>