<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish List with Update and Delete</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <div class="container">
        <button class="add-btn">Add new</button>
        <div class="list-item">
            <span class="serial">SI no.</span>
            <span class="name">Name</span>
            <span class="Update">Update</span>
            <span class="">Delete</span>
        </div>
        <div class="list-item">
            <span class="serial">1</span>
            <span class="name">Smakar</span>
            <span class="update-btn">Update</span>
            <span class="delete-btn">Delete</span>
        </div>
        <div class="list-item">
            <span class="serial">2</span>
            <span class="name">Tomba</span>
            <span class="update-btn">Update</span>
            <span class="delete-btn">Delete</span>
        </div>
        <div class="list-item">
            <span class="serial">3</span>
            <span class="name">Arnold</span>
            <span class="update-btn">Update</span>
            <span class="delete-btn">Delete</span>
    </div>
</body>
</html>