<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">User List</h1>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>patient_name</th>
                    <th>address</th>
                    <th>phone</th> <!-- Changed from Email to Service -->
                    <th>service</th> 

                </tr>
            </thead>
            <tbody>
                {% for patient in records %}
                <tr>
                    <td>{{ patient.patient_name }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.service }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>